[submodule "public"]
	path = public
	url = git@github.com:chrisdoherty4/chrisdoherty4.github.io.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/jbub/ghostwriter.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
